<h2 id="10-行数のカウント">10. 行数のカウント</h2>
<p>行数をカウントせよ．確認にはwcコマンドを用いよ．</p>

ターミナルでは

    wc -l パス

を実行すると行数（改行の数）がわかる.(Word Count)

コードでターミナルを実行したいときには先頭に「！」をつける

In [47]:
!ls

data                    src
nyutonn_chapter02.ipynb work

In [63]:
# 全文読み込んで改行の数を数える（あんまりよくない）
f = open('data/popular-names.txt')
data = f.read()
cnt = 1 # 最後には改行がないので1足しておく
for c in data:
    if c == '\n':
        cnt += 1
print(cnt)
f.close()

2780

file.read(), readlines

はすべてを一度に展開するのであまり良くない。超大きいファイルだとその時点で壊れてしまう

→for文を用いて1行ずつ読むと大きいファイルでも実行自体はできるので優秀

In [64]:
# 1文ずつ読み込むパターン（あんまりよくない）
f = open('data/popular-names.txt')
data = f.readlines()
print(len(data))
f.close()

2780

    with open() as f:


を用いると最後にf.close()をしてくれる

fをそのままfor文にぶちこむと1行ずつ入れてくれる

for文の中身に興味がないときは変数名を_にする

In [65]:
# with文を用いる
with open('data/popular-names.txt') as f:
    cnt = 0
    for _ in f:
        cnt += 1
    print(cnt)

2780

In [3]:
!wc -l ./data/popular-names.txt

    2779 ./data/popular-names.txt

<h2 id="11-タブをスペースに置換">11. タブをスペースに置換</h2>
<p>タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．</p>

書き込み用でファイルを開くときは
open('パス', 'w')
とする

In [66]:
# textに全文読み出してから\tの数を数える
with open('data/popular-names.txt') as f1:
    text = list(f1.read())
    cnt = 0
    for i, c in enumerate(text):
        if c == '\t':
            # cnt += 1
            text[i] = ' '
    # print(cnt)
    text = "".join(text)
    # print(text)

    with open('work/11_ans.txt', 'w') as f2:
        f2.write(text)

In [6]:
# replace関数を使えばStrをリストにしなくてもできる
from itertools import islice

with open('data/popular-names.txt') as f1:
    for line in islice(f1, 10):
        line = line.replace('\t', ' ')
        print(line, end='')

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

ターミナルでは「tr」コマンドを用いる。trはtranslateの略。

    tr '置換前' '置換後' < パス

ターミナルでは後ろに「| head」をつけると先頭から10こだけ実行される

「| tail」をつけると後ろから10こだけ実行される

In [49]:
!tr "\t" " " < ./data/popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
tr: stdout: Broken pipe

In [50]:
!tr "\t" " " < ./data/popular-names.txt | tail

Liam M 19837 2018
Noah M 18267 2018
William M 14516 2018
James M 13525 2018
Oliver M 13389 2018
Benjamin M 13381 2018
Elijah M 12886 2018
Lucas M 12585 2018
Mason M 12435 2018
Logan M 12352 2018

「sed」コマンドでも行ける。stream editor

正規表現を用いて置換をする

以下は条件を満たすすべての箇所を置換

    sed -e s/置換前/置換後/g < パス

In [11]:
!sed -e s/\t/\/g < ./data/popular-names.txt | head

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeh	F	1939	1880
Minnie	F	1746	1880
Margare	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Berha	F	1320	1880
Sarah	F	1288	1880
sed: stdout: Broken pipe

<h2 id="12-1列目をcol1txtに2列目をcol2txtに保存">12. 1列目をcol1.txtに，2列目をcol2.txtに保存</h2>
<p>各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．</p>

with文を複数のファイルで用いるときは大きい()で囲むとできる！


with (open('パス1') as f1, open('パス2', 'w') as f2):

ターミナルではcutコマンドを用いる

「-f n」でフィールド番号を指定して何個目を取り出すか指定する（インデックスは1から始まる）

    cut -f n パス

とするとn個目のデータを縦に取り出せる

In [52]:
with (open('data/popular-names.txt') as fr, 
      open('work/col1.txt', 'w') as fw1, 
      open('work/col2.txt', "w") as fw2): 
    for line in fr:
        alist = line.split("\t")
        fw1.write(alist[0] + '\n')
        fw2.write(alist[1] + '\n')

alistと書いてインデックス指定でもいいけどsplit関数を用いて文字列から要素を取るときはそれぞれに名前をつけるとわかりやすい

In [14]:
s = "Yuto Man 21 Sendai"
name, gender, age, shi = s.split()
# 「*」を用いて複数個省略することもできる
name, *mid, shi = s.split()
name, gender, *_ = s.split()

In [53]:
!cut -f 1 ./data/popular-names.txt | head

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah
cut: stdout: Broken pipe

In [54]:
!cut -f 2 ./data/popular-names.txt | head

F
F
F
F
F
F
F
F
F
F

<h2 id="13-col1txtとcol2txtをマージ">13. col1.txtとcol2.txtをマージ</h2>
<p>12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．</p>

ターミナルではpasteコマンドを用いる

    paste パス1 パス2

とするとタブ区切りで結合することができる

'文字列'.rstrip('文字')

文字列の右にあるいらない文字を消せる

文字列そのものが変化するわけではないことに注意！

In [43]:
test = 'abcedee'.rstrip('e')
print(test)

abced

In [55]:
with (open('work/col1.txt') as fr1, 
      open('work/col2.txt') as fr2, 
      open('work/colMerge.txt', 'w') as fw):
    for a, b in zip(fr1, fr2):
        one = a.rstrip('\n')
        two = b.rstrip('\n')
        fw.write(one + '\t' + two + '\n')

In [19]:
!paste work/col1.txt work/col2.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F
paste: stdout: Broken pipe

<h2 id="14-先頭からn行を出力">14. 先頭からN行を出力</h2>
<p>自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．</p>

In [38]:
with open('data/popular-names.txt') as f:
    n = int(input('自然数を入力：'))
    print(f'n = {n}')
    for i, s in enumerate(f):
        print(s, end='') # txtファイルの改行とprint関数の改行が重なって気持ち悪いのでprint関数の改行を消した
        if i+1 == n:
            break

n = 10
Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

ターミナルでは

    head -n 数 パス

    head パス


とすると指定した行数文だけ出力することができる.-nのオプションを省略すると最初の10行の出力になる

In [20]:
!head -n 2 ./data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880

In [15]:
!head ./data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

itertoolsモジュールのislice関数を用いるとリストやファイルなどの指定した行数文だけ取り出すことができる

from itertools import islice

islice(list, int)

リストのスライス記法と等価の書き方だが、ファイルでは有用

In [2]:
from itertools import islice

alist = [i for i in range(10000)]
for i in islice(alist, 3): # ３行部分だけ
    print(i)
# for i in alist[:3]:
#     print(i)

0
1
2
0
1
2

argparseとは？

<h2 id="15-末尾のn行を出力">15. 末尾のN行を出力</h2>
<p>自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．</p>

In [57]:
with open('data/popular-names.txt') as f:
    n = int(input('自然数を入力：'))
    print(f'n = {n}')
    index = 0 
    alist = list(f)
    for s in alist[-n:]: # 後ろから数えてn番目から始めれば良い
        print(s, end='') # txtファイルの改行とprint関数の改行が重なって気持ち悪いのでprint関数の改行を消した
        index += 1
        if index == n:
            break

n = 10
Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

Linuxコマンドでは

    tail -n 数 パス

    tail パス

で末尾から指定した行数文だけ出力することができる。省略したら10行になる。

In [19]:
!tail -n 2 ./data/popular-names.txt

Mason	M	12435	2018
Logan	M	12352	2018

In [58]:
!tail data/popular-names.txt

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

<h2 id="16-ファイルをn分割する">16. ファイルをN分割する</h2>
<p>自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．</p>

In [28]:
with open('data/popular-names.txt') as f:
    n = int(input('n : '))
    file_len = 0
    # ファイルの行数を計算
    for _ in open('data/popular-names.txt'): 
        file_len += 1
    # 書き込みファイルをn個開く
    fwrite_list = []
    for i in range(1, n+1):
        fwrite_list.append(open(f'data/split{i}.txt', 'w'))
    # ファイルに書き込む
    now_file = 0
    for i, s in enumerate(f):
        if i < file_len * (now_file + 1) // n:
            fwrite_list[now_file].write(s)
        elif i == file_len * (now_file + 1) // n:
            # 割り切れないときは次のファイルに書き込む
            if now_file + 1 != n:
                fwrite_list[now_file + 1].write(s)
            # 割り切れたときは現在のファイルに書き込む
            else:
                fwrite_list[now_file].write(s)
            now_file += 1
    # ファイルを閉じる
    for i in range(n):
        fwrite_list[i].close()

Linuxコマンドでは

    split -n 数 パス
    
で1つのファイルをn分割できる

「-l 数」とすると指定した行数ごとの分割ができる

In [22]:
!split -n 6 ./data/popular-names.txt

<h2 id="17-１列目の文字列の異なり">17. １列目の文字列の異なり</h2>
<p>1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはcut, sort, uniqコマンドを用いよ．</p>

集合に要素を追加するときには「集合名.add(値)」とする

In [24]:
s = {1, 2, 3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [33]:
with open('data/popular-names.txt') as f:
    ans = set()
    for s in f:
        name, *_ = s.split()
        ans.add(name)
    print(sorted(ans))

['Abigail', 'Aiden', 'Alexander', 'Alexis', 'Alice', 'Amanda', 'Amelia', 'Amy', 'Andrew', 'Angela', 'Anna', 'Annie', 'Anthony', 'Ashley', 'Austin', 'Ava', 'Barbara', 'Benjamin', 'Bertha', 'Bessie', 'Betty', 'Brandon', 'Brian', 'Brittany', 'Carol', 'Carolyn', 'Charles', 'Charlotte', 'Chloe', 'Christopher', 'Clara', 'Crystal', 'Cynthia', 'Daniel', 'David', 'Deborah', 'Debra', 'Donald', 'Donna', 'Doris', 'Dorothy', 'Edward', 'Elijah', 'Elizabeth', 'Emily', 'Emma', 'Ethan', 'Ethel', 'Evelyn', 'Florence', 'Frances', 'Frank', 'Gary', 'George', 'Hannah', 'Harper', 'Harry', 'Heather', 'Helen', 'Henry', 'Ida', 'Isabella', 'Jacob', 'James', 'Jason', 'Jayden', 'Jeffrey', 'Jennifer', 'Jessica', 'Joan', 'John', 'Joseph', 'Joshua', 'Judith', 'Julie', 'Justin', 'Karen', 'Kathleen', 'Kelly', 'Kimberly', 'Larry', 'Laura', 'Lauren', 'Liam', 'Lillian', 'Linda', 'Lisa', 'Logan', 'Lori', 'Lucas', 'Madison', 'Margaret', 'Marie', 'Mark', 'Mary', 'Mason', 'Matthew', 'Megan', 'Melissa', 'Mia', 'Michael', 'Michelle', 'Mildred', 'Minnie', 'Nancy', 'Nicholas', 'Nicole', 'Noah', 'Oliver', 'Olivia', 'Pamela', 'Patricia', 'Rachel', 'Rebecca', 'Richard', 'Robert', 'Ronald', 'Ruth', 'Samantha', 'Sandra', 'Sarah', 'Scott', 'Sharon', 'Shirley', 'Sophia', 'Stephanie', 'Steven', 'Susan', 'Tammy', 'Taylor', 'Thomas', 'Tracy', 'Tyler', 'Virginia', 'Walter', 'William']

Linuxコマンドではソートはsort、重複を排除するのはuniqとなっているがuniqの前には必ずsortしなければいけない

Linuxコマンドを複数用いるときには「|」で区切って左から右に書く

    cut -f 1 パス | sort | uniq | head

In [36]:
!cut -f 1 data/popular-names.txt | sort | uniq | head

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

<h2 id="18-各行を3コラム目の数値の降順にソート">18. 各行を3コラム目の数値の降順にソート</h2>
<p>各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．</p>

2次元リストをソートする際にi番目を基準にしたいときは
       alist.sort(key=lambda x:x[i])

In [38]:
from itertools import islice

with open('data/popular-names.txt') as f:
    alist = []
    # リストの内部を変更するのでインデックスが必要
    for i, s in enumerate(f):
        alist.append(str.split(s))
        alist[i][2] = int(alist[i][2]) # あとでソートするのでint型にする
    alist.sort(reverse=True, key=lambda x: x[2])
    for a in islice(alist, 10): # 先頭から10こだけ表示
        print(a)

['Linda', 'F', 99689, '1947']
['Linda', 'F', 96211, '1948']
['James', 'M', 94757, '1947']
['Michael', 'M', 92704, '1957']
['Robert', 'M', 91640, '1947']
['Linda', 'F', 91016, '1949']
['Michael', 'M', 90656, '1956']
['Michael', 'M', 90517, '1958']
['James', 'M', 88584, '1948']
['Michael', 'M', 88528, '1954']

Linuxコマンドのsortでは

[-k 数]でソートする場所

[-r]で逆順ソート

[-n]で数字をint型へ

    sort -k 数 -r -n パス

In [43]:
!sort -k 3 -r -n data/popular-names.txt | head

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
sort: Broken pipe

<h2 id="19-各行の1コラム目の文字列の出現頻度を求め出現頻度の高い順に並べる">19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる</h2>
<p>各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．</p>

In [56]:
from itertools import islice

with open('data/popular-names.txt') as f:
    nameDict = {}
    for s in f:
        aline = str.split(s)
        if aline[0] in nameDict:
            nameDict[aline[0]] += 1
        else:
            nameDict[aline[0]] = 1
    # 辞書のvalueでソートする
    sortDict = sorted(nameDict.items(), reverse=True, key=lambda x:x[1])
    for sd in islice(sortDict, 10):
        print(sd)

('James', 118)
('William', 111)
('John', 108)
('Robert', 108)
('Mary', 92)
('Charles', 75)
('Michael', 74)
('Elizabeth', 73)
('Joseph', 70)
('Margaret', 60)

Linuxコマンドでは

    uniq -c パス

でソートから重複を排除するときに、それぞれの数を数えてくれる

Linuxコマンドで複数のオプションを付けるときは先頭のみにハイフンをつけるだけで良い

    sort -r -n -k 1

    sort -rnk1

In [53]:
!cut -f 1 data/popular-names.txt | sort | uniq -c | sort -rnk 1 | head

 118 James
 111 William
 108 Robert
 108 John
  92 Mary
  75 Charles
  74 Michael
  73 Elizabeth
  70 Joseph
  60 Margaret