In [3]:
import pandas as pd

example_data = pd.read_table('example.tsv', header=None, names = ['ID', 'TITLE', 'CATEGORY'])
example_data

   ID                                   TITLE CATEGORY
0   1                         Here is a title        b
1   2                         Here is a title        t
2   3                       'Here is' a title        e
3   4  Here is a title\tm\n5\tHere is a title        m
4   6                          Here's a title        m
5   7                          Here's a title        m

In [4]:
example_data2 = pd.read_table('example.tsv', header=None, names = ['ID', 'TITLE', 'CATEGORY'], sep='\\t', engine='python')
example_data2

   ID              TITLE CATEGORY
0   1    Here is a title        b
1   2  "Here is" a title        t
2   3  'Here is' a title        e
3   4   "Here is a title        m
4   5   Here is" a title        m
5   6     Here's a title        m
6   7     Here's a title        m

In [2]:
for index, item in example_data.iterrows():
    print(index, item['TITLE'])

0 Here is a title
1 "Here is" a title
2 'Here is' a title
3 "Here is a title
4 Here is" a title
5 Here's a title
6 Here's a title

In [5]:
import pickle
with open('test.pkl', 'wb') as fw:
    pickle.dump([0, 1, 2], fw)
with open('test.pkl', 'rb') as fr:
    data = pickle.load(fr)
    print(data)

[0, 1, 2]

In [1]:
print('hello world')

hello world